.navbar-nav
{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.logout-point
{
    cursor: pointer;
}

@media only screen and (max-width: 991px)
{
    .hamburger-mobile
    {
        font-size: small;
        margin-right: 10px;
    }
}